.form-container{
    position: relative;
    top: 100px;
    width: 75%;
    border: 2px solid black;
    margin: auto 200px;
    padding: 25px;
    
    input{
        width: 75%;
        height: 40px;
        margin: 15px;
        border-radius: 5px;
        
    
    }
    input.ng-invalid.ng-touched{
        border:2px solid red;
    }
    label{
        width: 75%;
        margin:15px ;
    }
    button{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: 25px 80px;
        border-radius: 50px;
        margin: 15px;
    }


}