.cart-container{

    width: 100px;
    

    .product-container{

        .details{

            width: 100%;

            
            


        }

    .control-container{

        display: flex;
        justify-content: center;
        align-items: center;

        .input-field{

            width: 50px;
            margin: 10px;

        }
        .remove-button{
            width: 50px;
            border: solid transparent;
            background-color:transparent;
            
        }

    } 
        

    }

}