.detail-view-container{

    margin: 200px 0;
    display: flex;
    justify-content: center;
    align-items: center;


    .img-container{

        margin: 0 25px;

    }

    .text-container{

        label{
            margin-right: 10px;
        }

    }

    

}
